{% extends "YouHate/base.html" %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>About</h1>
    <div class="about-rectangle">
        <p class="about-text">YouHate is a website that allows a user to post any video with the aim to have a high dislike-to-like ratio, as those are those that will show up at the top of the recommended. <br>
            We believe there is a lot of platforms that give high praise and engagement to good quality videos however we feel that videos made for the exact opposite should also get recognition, which is the reason why we have created this platform. We want every voice to be heard!
            </p>
    </div>
{% endblock %}