<!DOCTYPE html>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <script src="{% static 'jquery/jquery.js' %}"></script>
        <script src="{% static 'jquery/script.js' %}"></script>
        <title>
            YouTrash - 
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>
        <!-- Header -->
        <header>
            <div id="searchContainer" class="topBarItems">
                <search>
                    <form>
                        <select name="filters" id="filterDropDown">
                            <option value="creator">Creator</option>
                            <option value="video">Video</option>
                        </select>
                        <div id="searchAndGoContainer">
                            <input name="vSearch" id="vSearch" placeholder="Search">
                            <input type="submit" id="goBtn" value="Go">
                        </div>
                    </form>
                    <button type="button" id="randomiseBtn" onclick="">Randomise</button>
                </search>
            </div>
            <div id="aboutUserActionButtons">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                <hr />
                {% else %}
                    <a href="{% url 'about' %}" id="aboutBtn" class="headerLinks">About</a>
                    <a href="{% url 'login' %}" id="loginBtn" class="headerLinks">Sign In/<br>Register</a>
                {% endif %}
            </div>
        </header>
        <!-- Sidebar -->
        <aside>
            <a href="{% url 'index' %}" id="logoAnchor"><img src="{% static 'logo/placeholderLogo.png' %}" alt="Logo" id="logo"></a>
            <h2>Categories</h2>
            <select name="allCategories" id="allCategoriesDropDown">
                {% for category in baseCategoryNames %}
                    <option value="/{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <script>
                $(document).ready(function () {
                    $('#allCategoriesDropDown').on('change', function() {
                        const selectedUrl = $(this).val().toLowerCase();
                        if (selectedUrl) {
                            window.location.href = selectedUrl;
                        }
                    });
                });
            </script>
            <h3>Trending</h3>
            <ul>
                {% for slug, name in baseTop5Categories %}
                    <li><a href="{% url 'category_detail' slug %}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </aside>
        <main>
            {% block body_block %}
            {% endblock %}
        </main>
        <footer>
            <hr />
            <p>footer</p>
        </footer>
    </body>
</html>