<!DOCTYPE html>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <script src="{% static 'jquery/jquery.js' %}"></script>
        <title>
            YouTrash - 
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>
        <!-- Header -->
        <header>
            <ul>
                <div id="searchContainer" class="topBarItems">
                    <search>
                        <form>
                            <select name="filters" id="filters">
                                <option value="creator">Creator</option>
                                <option value="video">Video</option>
                            </select>
                            <input name="vSearch" id="vSearch" placeholder="Search">
                            <input type="submit" id="submit" value="Go">
                        </form>
                    </search>
                    <button type="button" onclick="">Randomise</button>
                </div>
                <div id="aboutUserActionButtons">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="% url 'about' %">About</a></li>
                        <li><a href="{% url 'login' %}">Sign In/Register</a></li>
                    {% endif %}
                </div>
            </ul>
            <hr />
        </header>
        <!-- Sidebar -->
        <aside>
            <a href="{% url 'index' %}"><img src="media/" alt="Logo" id="logo"></a>
            <h2>Categories</h2>
            <select name="allCategories" id="allCategoriesDropDown">
                {% for category in baseCategoryNames %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <h3>Trending</h3>
            <ul>
                {% for slug, name in baseTop5Categories %}
                    <li><a href="{% url 'category_detail' slug %}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </aside>
        <main>
            {% block body_block %}
            {% endblock %}
        </main>

        <footer>
            <hr />
            <p>footer</p>
        </footer>
    </body>
</html>