{% extends 'YouHate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>
        <div>
            {% if videos %}
                <h2>All Recent</h2>
                <div class="videoBlock">
                    {% for v in recentVideos %}
                    <div class="videoThumbnail">
                        <a href="{% url 'video_detail' v.category.slug v.slug %}"><img src="{{ v.thumbnail.url }}" alt="" style="width:100%"></img></a>
                        <h3>{{ v.title }}</h3>
                        <div class="videoInfo">
                            <p class="creator">{{ v.user.user.username }}</p>
                            <p class="published">{{ v.created|date:"d.m.Y" }}</p>
                            <p class="dislikes">Dislikes: {{ v.dislikes }}</p>
                            <p class="views">Views: {{ v.views }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <h2>Most Disliked</h2>
                <div class="videoBlock">
                    {% for v in dislikedVideos %}
                    <div class="videoThumbnail">
                        <a href="{% url 'video_detail' v.category.slug v.slug %}"><img src="{{ v.thumbnail.url }}" alt="" style="width:100%"></img></a>
                        <h3>{{ v.title }}</h3>
                        <div class="videoInfo">
                            <p class="creator">{{ v.user.user.username }}</p>
                            <p class="published">{{ v.created|date:"d.m.Y" }}</p>
                            <p class="dislikes">Dislikes: {{ v.dislikes }}</p>
                            <p class="views">Views: {{ v.views }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <h2>Most Viewed</h2>
                <div class="videoBlock">
                    {% for v in mostViewedVideos %}
                    <div class="videoThumbnail">
                        <a href="{% url 'video_detail' v.category.slug v.slug %}"><img src="{{ v.thumbnail.url }}" alt="" style="width:100%"></img></a>
                        <h3>{{ v.title }}</h3>
                        <div class="videoInfo">
                            <p class="creator">{{ v.user.user.username }}</p>
                            <p class="published">{{ v.created|date:"d.m.Y" }}</p>
                            <p class="dislikes">Dislikes: {{ v.dislikes }}</p>
                            <p class="views">Views: {{ v.views }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <h2>Least Viewed</h2>
                <div class="videoBlock">
                    {% for v in leastViewedVideos %}
                    <div class="videoThumbnail">
                        <a href="{% url 'video_detail' v.category.slug v.slug %}"><img src="{{ v.thumbnail.url }}" alt="" style="width:100%"></img></a>
                        <h3>{{ v.title }}</h3>
                        <div class="videoInfo">
                            <p class="creator">{{ v.user.user.username }}</p>
                            <p class="published">{{ v.created|date:"d.m.Y" }}</p>
                            <p class="dislikes">Dislikes: {{ v.dislikes }}</p>
                            <p class="views">Views: {{ v.views }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No videos found.</p>
            {% endif %}
        </div>
    {% else %}
        <p>No category found.</p>
    {% endif %}             
{% endblock %}