{% extends 'YouHate/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body_block %}
    <h1>Home</h1>
    <p>Welcome to the home page.</p>

    <h2>All Recent</h2>
    <div class="videoBlock">
        {% for v in recentVideos %}
            <div class="individualVideoAndThumbnail">
                <img class="videoThumbnail" src="{{ v.thumbnail.url }}" alt=""></img>
                <h3>{{ v.title }}</h3>
            </div>
        {% endfor %}
    </div>

    {% for category in categories %}
    <div>
        <h2>{{ category }}</h2>

        <select id="sort" name="sort" style="float:right">
            <option value="">Sort By</option>
            <option value="-dislikes">Dislikes</option>
            <option value="created">Recent</option>
            <option value="-views">Most Viewed</option>
            <option value="views">Least Viewed</option>
        </select>

        <div class="videoBlock">
            {% for v in videos %}
            {% if v.category.name == category %}
                <img class="videoThumbnail" src="{{ v.thumbnail.url }}" alt=""></img>
                <h3>{{ v.title }}</h3>
            {% endif %}
            {% endfor %}
        </div>
    <div>
    {% endfor %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#videoBlock").on("wheel", function (event) {
                event.preventDefault();
                
                let scrollAmount = event.originalEvent.deltaY || event.originalEvent.deltaX; 
                $(this).stop().animate({
                    scrollLeft: "+=" + scrollAmount
                }, 200); // Adjust speed (200ms) for smooth scrolling
            });
        });
    </script>             
{% endblock %}