{% extends 'YouHate/base.html' %}
{% load static %}

{% block title_block %}Home{% endblock %}

{% block body_block %}
    <h1>Home</h1>
    <p>Welcome to the home page.</p>

    <h2>All Recent</h2>
    <div class="videoBlock">
        {% for v in recentVideos %}
        <div class="videoThumbnail">
            <a href="{% url 'video_detail' v.category.slug v.slug %}"><img src="{{ v.thumbnail.url }}" alt="" style="width:100%"></img></a>
            <h3>{{ v.title }}</h3>
            <div class="videoInfo">
                <p class="creator">{{ v.user.user.username }}</p>
                <p class="published">{{ v.created|date:"d.m.Y" }}</p>
                <p class="dislikes">Dislikes: {{ v.dislikes }}</p>
                <p class="views">Views: {{ v.views }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% for category in categories %}
    <div class="category-section" data-category-id="{{ category.id }}" data-category-slug="{{ category.slug }}">
        <h2>{{ category.name }}</h2>

        <select id="sort" name="sort" style="float:right" data-url="{% url 'sort_videos' %}">
            <option value="">Sort By</option>
            <option value="-dislikes">Dislikes</option>
            <option value="created">Recent</option>
            <option value="-views">Most Viewed</option>
            <option value="views">Least Viewed</option>
        </select>

        <div id="videoBlock{{ category.slug }}" class="videoBlock">
            {% for v in videos %}
            {% if v.category.name == category.name %}
            <div class="videoThumbnail">
                <a href="{% url 'video_detail' v.category.slug v.slug %}"><img src="{{ v.thumbnail.url }}" alt="" style="width:100%"></img></a>
                <h3>{{ v.title }}</h3>
                <div class="videoInfo">
                    <p class="creator">{{ v.user.user.username }}</p>
                    <p class="published">{{ v.created|date:"d.m.Y" }}</p>
                    <p class="dislikes">Dislikes: {{ v.dislikes }}</p>
                    <p class="views">Views: {{ v.views }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    <div>
    {% endfor %}             
{% endblock %}