{% extends 'YouHate/base.html' %}

{% block title_block %}
    {{ user_profile.user.username }}'s Profile
{% endblock %}

{% block body_block %}
    <div class="profile-container">
        <div class="profile-header">
            <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
            <div class="bio-container">
              <h1>{{ user_profile.user.username }}</h1>
              <h3>Bio:</h3>
              <p>{{ user_profile.bio }}</p>
            </div>
          </div>

          <div class="videos-container">
            <h2>Videos</h2>
            <div class="videoBlock">
                {% for video in videos %}
                    <div class="videoThumbnail"> <!-- Reuse the 'videoThumbnail' class from index page -->
                        <a href="{% url 'video_detail' video.category.slug video.slug %}">
                            <img src="{{ video.thumbnail.url }}" alt="Video Thumbnail" />
                        </a>
                        <h4>{{ video.title }}</h4>
                    </div>
                {% empty %}
                    <p>No videos uploaded yet.</p>
                {% endfor %}
            </div>
        </div>         
    </div>
{% endblock %}